.container {
    position: relative;
    /* left: 450px; */
    width: 500px;
}

.btn-primary{
    position: absolute;
    top: 12px;
}

.formName {
    position: absolute;
    top: 60px;
}

.btn-success {
    position: relative;
    top: 6px;
    left: 70px;
    /* display: flex;
    justify-content: center; */
}

    

.text-display {
    position: relative;
    top: 200px;
}