<!-- <p>Welecome to Angular</p> -->
<!-- <app-user></app-user> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-pratice-component></app-pratice-component> -->
<!-- <app-template-driven></app-template-driven> -->

<!-- <app-reactive-form></app-reactive-form> -->

<!-- <app-pratice-form></app-pratice-form> -->

<!-- <app-form></app-form> -->

<!-- <app-pratice-observable></app-pratice-observable> -->
<!-- <app-post></app-post> -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" routerLink="/" [routerLinkActive]="['active']" style = "color:green">Home</a>
    <a class="navbar-brand" routerLink="/form" [routerLinkActive]="['active']" style = "color:green" >Pre</a>
    <a class="navbar-brand" routerLink="/post" [routerLinkActive]="['active']" style = "color:green" >Post</a>
  </nav>
  asasas
  <!-- <i class="fab fa-accessible-icon"></i> -->
  <!-- <i class="fa fa-adversal"></i>
  <i class="fa fa-address-card"></i> -->
  <!-- <i class="fa fa-biking"></i> -->
  <!-- <i class="fa fa-address-book"></i> -->
  <!-- <i class="fa fa-album"></i> -->
  <i class="fa fa-plus"></i>
  <i class="fa fa-plus-square"></i>

<router-outlet></router-outlet>