<!-- <nav class="navbar navbar-dark bg-primary mb-4">
    <div class="container">
        <a href="#" class="navbar-brand">Angular APP</a>
    </div>
</nav>
{{currentClassesbtn-sucess}}
<button [disabled]="!AddButton" [ngClass]="currentClasses">Add New User</button>


<div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div> -->



  <!-- <h2>Users</h2> -->
  
  <!-- <ul class="list-unstyled"> -->
 <!-- <li  [style.color]="colorChange ? 'red' : '' " >{{users.age}}</li> -->

 <!-- <button [ngClass]="colorChange" [style.border-color]="colorChange">ADD ME!!!</button> -->

      <!-- <li class="card card-body md-2" [style.border-color]="colorChange" >{{users.name}}</li> -->
      <!-- {{colorChange.grenBtn}} -->
      <!-- <li class="card card-body md-2" [style.border-color]="colorChange ? 'green' : '' " >{{users.age}}</li> -->
  <!-- </ul> -->
  <!-- <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i> -->
  <i [ngClass]="'fa fa-plus'" (click) ="valueChane()"></i> <br>

<span *ngIf="!users.hide"> >>>>>>>>>>>>.asdjashdsaoj>>>>>>>>>>>>>>> {{users.name}}</span>